@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import "./media.css";


body{
    font-family: 'Poppins', sans-serif;
    background-color: white;
    color: black;
    
}
body.lock{
    overflow: hidden;
}

.title-1 {
    font-weight: 600;
    font-size: 34px;
    text-align: center;
}

.btn{
    background-color: #000000;
    display: inline-block;
    padding: 6px 18px;
    border-radius: 30px;
    font-size: 18px;
    color: #fff;
    transition: background-color 0.2s ease-in, top 0.2s ease-in;
       
}

.btn:hover, .btn:focus{
    background-color: #753d3d;

}
.btn:active{
    background-color: #000;
    position: relative;
    top: 1px;
}

/* Header */
.container {
    max-width: 1245px;
    margin: 0px auto;
    padding: 0 15px;
}
.header {
    padding: 35px;
}
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-logo {
    color: black;
    font-weight: 700;
    font-size: 32px;
    cursor: default;
}

.menu-list{
    display: flex;
    align-items: center;
    gap: 35px;
    transition: all 0.2s;
}
.menu-list.active{
    transform: translateX(0);
}

.menu-link:hover {
    background: linear-gradient(99.05deg, #BC3CD8 0.07%, #C54B8C 106.32%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;


}
.menu-link{
    color: black;
    font-weight: 600;
    font-size: 20px;
}
.menu-icon{
    display: none;
    width: 30px;
    height: 18px;
    position: relative;
    
    cursor: pointer;
}

.menu-icon span{
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 2px;
    top: 50%; margin-bottom: -1px;
    left: 0;
    transition: all 0.3s;
}
.menu-icon span:first-child{
    top: 0;
}
.menu-icon span:last-child{
    top: auto;
    bottom: 0;
}
.menu-icon.active{
    transform: 0;
}
.menu-icon.active span{
    transform: scale(0);
}
.menu-icon.active span:first-child{
    transform: rotate(-45deg);
    top: 50%;
}
.menu-icon.active span:last-child{
    transform: rotate(45deg);
    top: 50%;
}


/* Hero */

.works-body {
    margin-top: 25px;
}

.card {
    display: flex;
    flex-direction: row-reverse;
    gap: 32px;
    
}
.card-img {
    flex: 0 0 50%;
    
}
.card-img img{
    max-width: 100%;
    border-radius: 15px;
    box-shadow: 0 0 10px #444;
    
}
.card-info {
    flex: 1 1 auto;
    align-self: flex-end;
}
.card-tag {
    font-weight: 600;
    font-size: 44px;
    margin-bottom: 16px;
}
.card-text {
    font-weight: 400;
    line-height: 2;
    font-size: 20px;
}

/* Services */
.services {
    background-color: #F1F1F1;
    margin-bottom: 140px;
    margin-top: 25px;
}

.service-title {
    padding: 1px 0 10px 0;
}
.service-end{
    display: flex;
    flex-direction: column;
    padding: 0 20px 30px 35px;
    
}
 .lesson-list ul li{
    list-style: image url(../img/services/kashpng.png);
    
} 

.service-end ul li {
    list-style: image url(../img/services/kashpng.png);
}
.service-item {
    font-weight: 600;
    font-size: 21px;
    margin-bottom: 10px;
    text-transform: uppercase;
}


/* Work */
  

.trading-title {
    margin-bottom: 50px;
    
}

.working {
    display: flex;
    flex-wrap: wrap;
    
}
.work-card {
    flex: 0 0 25%;
    
}

.work-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    flex: 1 1 auto;
    font-weight: 700;
    font-size: 15px;
    
    
}
.work-item span{
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 900;
}

.work-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 35px;
    text-align: justify;
    font-size: 18px;
     
}
.work-list{
    padding: 0 20px 30px 25px;
}
.work-list ul li{
    
    list-style: image url(../img/services/ok.png);
      
}

   
.list-item span{
    font-size: 16px;
    font-weight: 700;
}

/* Lesson */


.lesson {
    margin-top: 50px;
           
}
  

.lesson-img {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

/* Lesson-traid */

.lesson-traid{
    background-color: #F1F1F1;
    margin-top: 140px;
}

.lesson-title {
    padding: 1px 0 10px 0;
}
.lesson-end{
    padding: 0 20px 30px 35px;
}
.lesson-end ul li{
    list-style: image url(../img/socials/okay.png);
}
.lesson-item {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 10px;
    text-transform: uppercase;
    
    
    
}


/* Slider */

.slider {
    padding: 60px;
    background-color: #ffffff
}


.slider-title {
    padding-bottom: 40px;
}


.photo {
margin-left: 35px;
width: 60px;
height: 60px;
display: block;
border-radius: 50%;

}
.photo-link{
    
    border-radius: 50%;
}

.name {
    padding-left: 40px;
    font-size: 20px;
    font-weight: 700;
}
.text {
    font-size: 16px;
    font-weight: 600;
    margin: 0 40px;
    margin-bottom: 25px;
    
}

/* Trade-buy */



.trade-buy {
    margin-top: 50px;
    
}

.flex-wrap{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
    
    
    
    
}
.flex-row{
    /* background: linear-gradient(to top left, powderblue, pink); */
    background-image: url(../img/background/phone.jpg);
    max-width: 50%;
    background-size: cover;
    padding: 35px;
    border-radius: 30px;
    
    
    margin: 10px;
}
#background{
    background-image: url(../img/background/bitcoin.jpg);
    background-position: center center;
    background-repeat:no-repeat ;
    
}
  
.price-title {
    font-size: 30px;
    font-weight: 600;
    color: white;
}
#gold-title{
    color:#ffb300;
    
}
#gold-titler{
    color:#ffb300;
}


.buy-link {
    list-style: circle;
    font-weight: 600;
}
.buy-standart{
    list-style: circle;
    /* color: #2196f3; */
    color: white;
    font-weight: 600;
}


.price-button {
    text-align: center;   
    color: transparent;
    
}
.buy-button {
    text-align: center;
    margin-top: 25px;
    
}
/* Button-1 */

.btn-1 {
    position: relative;
    display: inline-block;
    border-radius: 10px;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 24px;
    letter-spacing: 4px;
    overflow: hidden;
    transition: 0.2s;
    padding: 15px 30px;
}
.font-wight{
    font-weight: 600;
}
.button-line{
    position: absolute;
    display: block;
}

.button-line--top{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background:linear-gradient(90deg,  transparent, #2196f3);
}
.btn-1:hover .button-line--top{
    left: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
.button-line--bottom{
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background:linear-gradient(270deg,  transparent, #2196f3);
}
.btn-1:hover .button-line--bottom{
    right: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
.button-line--left{
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background:linear-gradient(0deg,  transparent, #2196f3);
}

.btn-1:hover .button-line--left{
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
.button-line--right{
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background:linear-gradient(180deg,  transparent, #2196f3);
}
.btn-1:hover .button-line--right{
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}

.btn-1:hover{
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3 ;
    background-color: #2196f3;
    top: 100%;
    color:#333;
    transition-delay: 0.7s;
}
/* Button-2 */

.btn-2 {
    position: relative;
    display: inline-block;
    border-radius: 10px;
    color: #FFD700;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 24px;
    letter-spacing: 4px;
    overflow: hidden;
    transition: 0.2s;
    padding: 15px 30px;
}
.font-wight{
    font-weight: 600;
}
.button-line-2{
    position: absolute;
    display: block;
}

.button-liner--top{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background:linear-gradient(90deg,  transparent, #FFD700);
}
.btn-2:hover .button-liner--top{
    left: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
.button-liner--bottom{
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background:linear-gradient(270deg,  transparent, #FFD700);
}
.btn-2:hover .button-liner--bottom{
    right: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
.button-liner--left{
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background:linear-gradient(0deg,  transparent, #FFD700);
}

.btn-2:hover .button-liner--left{
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
.button-liner--right{
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background:linear-gradient(180deg,  transparent, #FFD700);
}
.btn-2:hover .button-liner--right{
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}

.btn-2:hover{
    box-shadow: 0 0 10px #FFD700, 0 0 40px #FFD700 ;
    background-color: #FFD700;
    top: 100%;
    color:#333;
    transition-delay: 0.7s;
}

/* Bank Pay */
.bank-pay {
    margin-top: 55px;
	display: flex;
    justify-content: space-between;
    gap: 5px;
    align-items: center;
    flex-wrap: wrap;
	
}
.pay-item {
    width: 8%;
}

/* Footer */


.contacts {
    background-color: #F1F1F1;
    padding: 90px 0;
    text-align: center;
}

.contacts-content {
    margin: 0 auto 40px;
    max-width: 580px;
    font-size: 14px;
    text-align: left;
    color: #7e7e7f;
}

.contacts-content p + p {
    margin-top: 1em;
    text-align: left;
}

.contacts-button {
    margin-bottom: 80px;
}

.contacts-social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 40px;
}


