@media (max-width:670px){
    .menu-icon{
        display: block;
        
    }
    
    .menu-list{
        position: absolute;
        top: 0;
        left: 0;
        background-color: #ffffff;
        width: 100%;
        height: 100vh;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: translateX(-100%);
    }
    .menu-link{
        font-size: 30px;
    }
    .hero{
        padding: 30px 0;
    }
    .card-tag{
        font-size: 25px;
        margin-top: 10px;
    }
    .card-text{
        font-size: 15px;
        
    }
    .lesson-list ul li{
        list-style: image url(../img/services/kashpng.png);}
        .service-end ul li {
            list-style: image url(../img/services/kashpng.png);
        }
        .work-list ul li{
    
            list-style: image url(../img/services/ok.png);
              
        }
    
    
}

@media (max-width:950px){
    .card{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .lesson-list ul li{
        list-style: image url(../img/services/kashpng.png);}
        .service-end ul li {
            list-style: image url(../img/services/kashpng.png);
        }
        .work-list ul li{
    
            list-style: image url(../img/services/ok.png);
              
        }
   
}

 

@media (max-width:700px){
    .header-heading{
        font-size: 28px;
        line-height: 1.3;
    }
    .lesson-list ul li{
        list-style: image url(../img/services/kashpng.png);}
        .service-end ul li {
            list-style: image url(../img/services/kashpng.png);
        }
        .work-list ul li{
    
            list-style: image url(../img/services/ok.png);
              
        }
    .header-content p{
        font-size: 16px;
    }
    
    .service-item{
        font-size: 12px;
        font-weight: 500;
    }
    
    .lesson-item{
        font-size: 12px;
        font-weight: 400;
    }
    
    .work-list{
        font-size: 14px;
    }
    .text{
        font-size: 12px;
    }
    .lesson-traid{
        margin-top: 40px;
    }
    .trade-buy{
        margin-top: 0px;
    }
    .price-title{
        font-size: 18px;
    }
    .buy-standart{
        font-size: 12px;
    }
    .font-wight{
        font-size: 14px;
        
    }
    .buy-item ul li{
        font-size: 12px;
    }
    .flex-row{
        flex: 1  1 0;
    }
    #gold-titler{
        font-size: 12px;
    }
    .flex-row{
        flex: 1 0;
    }
    .flex-row{
        min-width: 315px;
    }

}
